/* основний колір тексту - #000000, */
/* другорядний колір тексту rgba(0, 0, 0, 0.8) */
/* колір лого - як і основний */
/* світлий шрифт #FFFFFF */
/* колір акценту - #18A0FB; */
/* колір фону  #FFFFFF*/
/* другорядний колір фону #F5F5F5 */
:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18A0FB;
    --primary-white-color: #FFFFFF;
    --bg-color: #F5F5F5;
}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Montserrat, sans-serif;
    /* font-style: normal; закоментив, бо нормал іде по замовчуванню в браузерах*/
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: -0.015em;
}

/* Logo */
.logo {
    color: var(--title-text-color);
    font-family: Comfortaa, sans-serif;

font-size: 28px;
line-height: 1.14;
text-decoration: none;
}

.logo:hover, .logo:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

/* site-nav */
.site-nav .link {
    color: var(--accent-color);
    
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}
/* Hero */
.hero-title {
    color: var(--title-text-color);
    
    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;
    text-align: center;
}
/* Section */
.section-title {
    color: var(--title-text-color);

    
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
}
/* Features */ /* Приклади */
.features-list .title, .work-list .title {
    color: var(--title-text-color);

    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;
}

/* .features-list .text {
    font-size: 18px;
    line-height: 1.67;}
    закоментив, так як ці всі абзаци однакові на сторінці,
    і є її основним текстом, тому значення розміру тексту і висоти лінії залили 
    в боді*/

/* .features-list .link {
    color: var(--accent-color);
} закоментив, бо заміняємо колір властивочтями button secondary*/

.section-description {
    font-size: 36px;
    line-height: 1.39;
}

/* Vidguki */
/* ------ */
/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;
}
.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    /* border-color: transparent; */
}
.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    /* border-color: var(--accent-color); */
}
.button:hover, .button:focus {
color: var(--title-text-color);
}
/* .button.primary:hover, .button.primary:focus, .button.secondary:hover, .button.secondary:focus {
    color: var(--title-text-color);
}  */
/* .button.secondary:hover, .button.secondary:focus {
color: var(--title-text-color);
}
