/* основний колір тексту - #000000, */
/* другорядний колір тексту rgba(0, 0, 0, 0.8) */
/* колір лого - як і основний */
/* світлий шрифт #FFFFFF */
/* колір акценту - #18A0FB; */
/* колір фону  #FFFFFF*/
/* другорядний колір фону #F5F5F5 */
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --bg-color: #f5f5f5;
  --primary-bg-color: #ffffff;
}
/*-------- Загальний глобальний бокс-сайзинг бордер-бокс --------*/
/* html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */
/*----- Закоментив текст вище, бо це правило встановлено через модерн-нормалайз -----*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
  width: 1320px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Montserrat, sans-serif;
  /* font-style: normal; закоментив, бо нормал іде по замовчуванню в браузерах*/
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.015em;
}

/* Logo */
.logo {
  color: var(--title-text-color);
  font-family: Comfortaa, sans-serif;
  font-size: 28px;
  line-height: 1.14;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* ----------Page-header ----------*/
.page-header {
  background-color: var(--primary-white-color);
}
/*------------ site-nav -----------*/
.site-nav .link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
}
.site-nav {
  display: flex;
}
.site-nav li {
  margin-right: 40px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}

/* Hero */
.hero {
  text-align: center;
}
.hero-title {
  color: var(--title-text-color);
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  margin-top: 0;
  margin-bottom: 40px;
  outline: 1px solid tomato;
}
/* Section */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
}
/* Features */
.features-list .title,
.work-list .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 24px;
}
.features-list p {
  margin-top: 0;
  margin-bottom: 30px;
}
.section-title.centered {
  text-align: center;
}

/* Приклади */

.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}
.work-list > .item {
  padding-top: 80px;
  padding-bottom: 80px;
}
.work-list > .item:nth-child(2n) {
  background-color: var(--bg-color);
}
/* .features-list .text {
    font-size: 18px;
    line-height: 1.67;}
    закоментив, так як ці всі абзаци однакові на сторінці,
    і є її основним текстом, тому значення розміру тексту і висоти лінії залили 
    в боді*/

/* .features-list .link {
    color: var(--accent-color);
} закоментив, бо заміняємо колір властивочтями button secondary*/

.section-description {
  font-size: 36px;
  line-height: 1.39;
  margin-top: 0;
  margin-bottom: 80px;
}

/* Vidguki */
/* ------ */
/* Button */
.button {
  display: inline-block;
  font-weight: 500;
  font-size: 15px;
  line-height: 1.2;
  text-decoration: none;
  border-radius: 6px;
  min-width: 130px;
  text-align: center;
  border: 1px solid transparent;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 11px 34px;
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  padding: 11px 42px;
  border-color: var(--accent-color);
}
.button:hover,
.button:focus {
  color: var(--title-text-color);
}
/* .button.primary:hover, .button.primary:focus, .button.secondary:hover, .button.secondary:focus {
    color: var(--title-text-color);
}  */
/* .button.secondary:hover, .button.secondary:focus {
color: var(--title-text-color);
}
*/
.wireframes-link {
  text-decoration: none;
  color: var(--accent-color);
}
.wireframes-link:hover,
.wireframes-link:focus {
  color: var(--title-text-color);
}
