/* основний колір тексту - #000000, */
/* другорядний колір тексту rgba(0, 0, 0, 0.8) */
/* колір лого - як і основний */
/* світлий шрифт #FFFFFF */
/* колір акценту - #18A0FB; */
/* колір фону  #FFFFFF*/
/* другорядний колір фону #F5F5F5 */
:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18A0FB;
    --primary-white-color: #FFFFFF;
    --bg-color: #F5F5F5;
}
body {
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);

    font-family: Montserrat, sans-serif;
}
.logo {
    color: var(--title-text-color);
}
.logo:hover, .logo:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

/* site-nav */
.site-nav .link {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}
/* Hero */
.hero-title {
    color: var(--title-text-color);
}
/* Section */
.section-title {
    color: var(--title-text-color);
}
/* Features */
.features-list .title {
    color: var(--title-text-color);
}
/* .features-list .link {
    color: var(--accent-color);
} закоментив, бо заміняємо колір властивочтями button secondary*/
/* Приклади */
.work-list .title {
    color: var(--title-text-color);
}
/* Vidguki */
/* ------ */
/* Button */
.button {
    color: var(--title-text-color);
    background-color: var(--primary-white-color);
    /* font-size: 24px;
    padding: 12px 24px;
    display: inline-block;
    border: 1px solid black; */
}
.button.primary {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    /* border-color: transparent; */
}
.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);
    /* border-color: var(--accent-color); */
}
.button:hover, .button:focus {
color: var(--title-text-color);
}
/* .button.primary:hover, .button.primary:focus, .button.secondary:hover, .button.secondary:focus {
    color: var(--title-text-color);
}  */
/* .button.secondary:hover, .button.secondary:focus {
color: var(--title-text-color);
}
