/* основний колір тексту - #000000, */
/* другорядний колір тексту rgba(0, 0, 0, 0.8) */
/* колір лого - як і основний */
/* світлий шрифт #FFFFFF */
/* колір акценту - #18A0FB; */
/* колір фону  #FFFFFF*/
/* другорядний колір фону #F5F5F5 */
:root {
    --primary-text-color: rgba(0, 0, 0, 0.8);
    --title-text-color: #000000;
    --accent-color: #18A0FB;
}
body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}
.logo {
    color: var(--title-text-color);
}
.logo:hover, .logo:focus {
    color: var(--accent-color);
}

.list {
    list-style: none;
}

/* site-nav */
.site-nav .link {
    color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}
/* Hero */
.hero-title {
    color: var(--title-text-color);
}
/* Section */
.section-title {
    color: var(--title-text-color);
}
/* Features */
.features-list .title {
    color: var(--title-text-color);
}
.features-list .link {
    color: var(--accent-color);
}