:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --bg-color: #f5f5f5;
}
/*-------- Загальний глобальний бокс-сайзинг бордер-бокс --------*/
/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */
/*----- Закоментив текст вище, бо це правило встановлено через модерн-нормалайз -----*/

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: Montserrat, sans-serif;
  /* font-style: normal; закоментив, бо нормал іде по замовчуванню в браузерах*/
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: -0.015em;
  /* ---задаємо маржин 0 для боді, щоб не використовувався той, що йде по замовчуванню в агенті браузера ----*/
  margin: 0;
}

.btn {
  display: inline-block;
  padding: 40px 20px;
  background-color: teal;
  color: white;
  text-decoration: none;
  border: 5px solid tomato;
  border-radius: 5px;
  vertical-align: middle;
}
.btn:hover,
.btn:focus {
  background-color: black;
  color: blue;
  border-color: pink;
}
.btn-icon {
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 6px;
  background-color: yellow;
  vertical-align: middle;
  font-size: 10px;
  color: #000000;
  line-height: 2;
  text-align: center;
}
.btn-icon:hover,
.btn-icon:focus {
  background-color: red;
}
.container {
  width: 1230px;
  background-color: tomato;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 12px;
}
